.container {
  border: 10px solid goldenrod;
  display: flex;
  justify-content: space-between;
  min-height: 90vh;
  flex-direction: column;
  align-items: center baseline;


}
[class^="b"] {

}
/* .b3{
    /* Flex order:
It gives order to flex linke an array index 
By default order starts from 0 */
/* order: 1; */
