.container {
  border: 10px solid goldenrod;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 90vh;
}
[class^="b"] {
  /* flex: auto; */
  font-size: 1rem;

}
/* .b3{
    /* Flex order:
It gives order to flex linke an array index 
By default order starts from 0 */
/* order: 1; */
