.container {
  border: 10px solid goldenrod;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;

}
[class^="b"] {
    flex-basis: 250px;
    flex-grow: 1;
    /* flex-shrink: 1; */
}
.b1{
    flex-grow: 2;
    /* flex-shrink: -3; */
}
.b4{
    flex-grow: 5;
    flex-shrink: 5;
    flex-basis: 500px  ;
}


















/* 
.b3{
    now adding tripple space to item b3 
    flex: 2;
}
.b7{
    now adding tripple space to item b3 
    flex: 3;
}
.b5{
    now adding tripple space to item b3 
    flex: .6;
} */